/*
font-family: 'PT Sans Narrow', sans-serif;
*/

body {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 100%; /* Важно для установки 1em / 16px*/
	line-height: 1.72; /*24px*/
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	background: #070707 url("../images/bg_body.jpg") no-repeat center top;
}

p {
	font-size: 0.875em; /* 14px */
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
/* Main Header */
.main_header {
	background-color: #000;
	margin-bottom: 57px;
}
.main_header a {
	color: #fff;
	text-decoration: none;
}
.main_nav  ul {
	float: left;
	max-width: 760px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.main_nav  li  {
	float: left;
	text-align: center;
}
.main_nav  a{
	display: block;
	padding: 24px 22px;
	font-size: 1em; /* 16px */
}

.main_nav  a:hover,
.main_nav  a:active,
.login a:hover,
.login a:active {
	background-color: #242424;
}

.main_nav  .active_nav a:hover {
	background: none;
}
.active_nav a {
	position: relative;
}
.active_nav a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 22px;
	right: 22px;
	height: 4px;
	background-color: #fff;
}

.login {
	float: right;
	max-width: 170px;
}

.login a {
	display: block;
	position: relative;
	padding: 24px 22px 24px 44px;
	font-size:  1em; /* 16px */	
}
.login a::before {
	content: "";
	display: block;
	position: absolute;
	left: 14px;
    top: 29px;	
	width: 20px;
	height: 20px;
	background: url("../images/sprite_barbershop.png") no-repeat -155px -5px;
	opacity: 0.5;
}

.login a:hover::before {
	opacity: 1;

}

/* Logo */
.logo {
	text-align: center;
	line-height: 0;
}
.logo a {
	color: #fff;
}
.logo img {
	width: 368px;
	height: 204px;
}
/* Section Features */
.feature_item {
	float: left;
	width: 33.33333%;
	margin: 0;
	margin-bottom: 80px;
	text-align: center;
}
.feature_item h2 {
	position: relative;
	margin: 0;
	margin-bottom: 35px;
	padding: 0 20px 50px 20px;	
	font-size: 1.875em; /* 30px */
	line-height: 42px; 
}
.feature_item h2:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 3px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 20px;
	background: #fff;
	-webkit-transform: rotate(45deg); 
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);			
}
.feature_item p {
	margin: 0;
	padding: 0 20px;
	font-size: 0.875em; /* 14px */
}
/* index_content */
.index_content {
	margin-bottom: 34px;
	background-color: #f8f5f2;
	background-image: url("../images/shadow_in_block.png"),
	url("../images/bg_light_content.jpg");
	background-repeat: no-repeat, repeat;
	background-position: center center, top right;
	color: #000;
}

.index_content section {
	float: left;
	width: 50%;	
}
.index_news {
	padding: 50px 60px 50px 87px;
}
.index_content .photo_gallery {
	padding: 50px 83px 50px 87px;
}

.index_content h2 {
	margin: 0;
	padding: 0;	
	padding-bottom: 30px;
	font-size: 1.875em; /* 30px */
}
.index_content p {
	font-size: 0.875em; /* 14px */	
	padding: 0;
	padding-bottom: 25px;
}
.index_content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.index_content li {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
}
.index_content a {
	display: block;
	text-decoration: none;
	font-size: 0.875em; /* 14px */	
	color: #000;
}
.index_content time {
	font-family: Georgia, Times, serif;
	text-transform: none;
	font-style: italic;
	font-weight: normal;
}

.btn {
	margin: 0;
	padding: 10px 35px ;
	font-size: 0.875em; /* 14px */
	text-transform: uppercase;
	background: #000;
	color: #fff;
	border: none;
}
.btn:hover {
	background: #663d15;
}
.btn:disabled {
	background: #000;
	opacity: 0.5;
}

a.btn {
	display: inline-block;
	vertical-align: top;
	color: #fff;	
}

.photo_gallery li {
	text-align: center;
	margin-bottom: 35px;
}

.photo_gallery img{
	border: solid 8px #fff;
	width: 286px;
	height: 164px;
	background: #e5e5e5;
	
}
.photo_gallery a{
	display: block;
	line-height: 0;
}
.gallery_prev {
	float: left;
}
.gallery_next {
	float: right;
}

.contact_inform {
	padding: 50px 45px 50px 87px;
}

.contact_inform p {
	margin-top: 0;
}

.btn.feedback  {
	margin-left: 20px;
	
}

.main_footer {
	padding: 35px 0 35px 0;
	background: #222 url("../images/bg_footer.jpg");
}

.contact_inform p {
	margin-bottom: 0;
}

.index_form .btn {
	width: 100%;
}

.index_form input {
	display: block;
	float: left;
	margin-bottom: 20px;
	outline: none;
	font-size: 0.875em;
	text-transform: uppercase;
	border: solid 2px #000;
	padding: 10px;
	width: 40%;

}

.index_form input:focus {
	border-color: #663d15;
}

.index_form input[type="submit"] {
    padding: 10px 35px;
    border: none;
 }

 .index_form input[type="submit"]:focus {
 	background-color: #663d15;
 }

.index_form input:nth-child(2n) {
	float: right;
}

.design {
	float: right;
	text-align: center;
	min-width: 80px;
}

.design a {
	text-decoration: none;
	margin-left: 0;
}
	
.design .btn:hover {
	background-color: #fff;
	color: #000;

}

.design p{
	margin-bottom: 5px;
}
.social {
	float: left;
	min-width: 380px;
	text-align: center;
}

.social_links {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.social_links li {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	background: #000;

}
.social_links a {
	display: block;
	position: relative;
	width: 43px;
	height: 43px;
}

.social_links a:hover {
	background-color: #fff;
}

.sprite {
    background-image: url(../images/sprite_barbershop.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon_f {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -6px;
	margin-top: -11px;
    width: 12px;
    height: 22px;
    background-position: -49px -5px;
}

.sprite-icon_vk {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -8px;
    width: 25px;
    height: 16px;
    background-position: -211px -5px;
}

.sprite-icon_inst {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -11px;
	margin-top: -11px;
    width: 22px;
    height: 22px;
    background-position: -92px -5px;	
}

.social_links a:hover .sprite-icon_f {
	background-position: -71px -5px;
}

.social_links a:hover .sprite-icon_vk {
	background-position: -246px -5px;
}

.social_links a:hover .sprite-icon_inst {
	background-position: -124px -5px;
}


.address {
	float: left;
	min-width: 280px;
}

@keyframes bounce {
	0% { transform: translateY(-2000px); }
	70% { transform: translateY(30px); }
	90% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}

@keyframes shake {
	0%, 100%				 { transform: translateX(0); }
	10%, 30%, 50%, 70%, 90%  { transform: translateX(-10px); }
	20%, 40%, 60%, 80%               { transform: translateX(10px); }
}


/* Shadow for Modal */
.modal-shadow {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	z-index: 2;
}
.modal-shadow.show {
	display: block;
}

/* Modal for Login */
.modal-login {
	display: none;
	position: fixed;
	left: 50%;
	top: 120px;
	z-index: 3;	
	width: 300px;
	min-height: 300px;
	padding: 50px 80px;
	margin-left: -230px;
	color: #000;
	background: #f8f5f2 url("../images/bg_light_content.jpg");
	box-shadow: 0 15px 50px rgba(0,0,0,.75);
}

.modal-login.show {
	display: block;
	animation: bounce 0.7s;	
}

.modal-login.modal-error {
	animation: shake 0.5s;
}
.modal-login h2 {
	font-size: 1.875em; /*30px*/
	margin-top: 0;
	margin-bottom: 14px;
}

.modal-close {
	display: block;
	position: absolute;
	top: 0;
	right: -40px;
	width: 20px;
	height: 20px;
	font-size: 0;
	background: #fff url("../images/sprite_barbershop.png") no-repeat center;
	background-position: -1px -1px;
	border-radius: 50%;
	box-shadow: 0 5px 20px rgba(0,0,0,.75);
}

.modal-close:hover {
	background-position: -23px -1px;
}

.form-login  {
	box-sizing: border-box;
}

.form-login > *  {
	box-sizing: inherit;
}

.form-login input[type="text"],
.form-login input[type="password"] {
	position: relative;
	width: 100%;
	padding: 10px 15px;
	padding-right: 40px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	background-color: #f9f6f3;
	border: solid 2px #000;
	color: #000;
	outline: 0;
}

.form-login input.icon-user {
	background: url("../images/sprite_barbershop.png") no-repeat 260px -19px;	
}

.form-login input.icon-password {
	background: url("../images/sprite_barbershop.png") no-repeat 260px -51px;	
	margin-bottom: 15px;
}

.form-login input:focus {
	border-color: #663d15;
}

.form-login input[type="checkbox"] {
	display: none;
}

.form-login input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding-left: 30px;
	cursor: pointer;
}

.form-login input[type="checkbox"] + label:hover {
	color: #663d15;
}

.form-login input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
	display: inline;
	width: 18px;
	height: 18px;
	border: 2px solid #000;
}

.form-login input[type="checkbox"]:checked + label::before {
	background: url("../images/sprite_barbershop.png") no-repeat -2px -2px;
}

.restore {
	float: right;
	color: #000;
}

.form-login .btn {
	width: 100%;
	margin-top: 15px;
	outline: none;
}

/* Modal for Login */
.modal-map {
	display: none;
	position: fixed;	
	z-index: 4;
	top: 0;
	left: 50%;
	width: 766px;
	height: 561px;
	margin-left: -390px;
	margin-top: 100px;
	background: #e9e5dc url("../images/map_barbershop.png");
	box-shadow: 0 5px 20px rgba(0,0,0,.75);
	border: 3px solid #fff;
}
.modal-map.show {
	display: block;
	animation: bounce 0.7s;		
}